<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="danggai.app.resinwidget">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="danggai.app.resinwidget.App"
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Genshin_resin_widget"
        android:usesCleartextTraffic="true">

        <service
            android:name="danggai.app.presentation.service.TemporaryNotificationListenerService"
            android:launchMode="singleTask"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="false"
            >
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <receiver
            android:name="danggai.app.presentation.ui.widget.ResinWidget"
            android:label="@string/widget_label_resin_fixed"
            android:exported="false">

            <intent-filter>
                <action android:name="danggai.app.resinwidget.refresh.resin.ui" />
                <action android:name="danggai.app.resinwidget.refresh.resin.data" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
                <action android:name="android.appwidget.action.APPWIDGET_DISABLED" />
                <action android:name="android.appwidget.action.APPWIDGET_DELETED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/resin_widget_info" />

        </receiver>

        <receiver
            android:name="danggai.app.presentation.ui.widget.ResinWidgetResizable"
            android:label="@string/widget_label_resin_resizable"
            android:exported="true">

            <intent-filter>
                <action android:name="danggai.app.resinwidget.refresh.resin.ui" />
                <action android:name="danggai.app.resinwidget.refresh.resin.data" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
                <action android:name="android.appwidget.action.APPWIDGET_DISABLED" />
                <action android:name="android.appwidget.action.APPWIDGET_DELETED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/resin_widget_info" />

        </receiver>

        <receiver
            android:name="danggai.app.presentation.ui.widget.DetailWidget"
            android:label="@string/widget_label_detail_fixed"
            android:exported="true">

            <intent-filter>
                <action android:name="danggai.app.resinwidget.refresh.resin.ui" />
                <action android:name="danggai.app.resinwidget.refresh.resin.data" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
                <action android:name="android.appwidget.action.APPWIDGET_DISABLED" />
                <action android:name="android.appwidget.action.APPWIDGET_DELETED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/detail_widget_info" />

        </receiver>

        <activity
            android:name="danggai.app.presentation.ui.main.MainActivity"
            android:launchMode="singleTask"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name="danggai.app.presentation.ui.cookie.CookieWebViewActivity"
            android:exported="false"
            />

        <activity android:name="danggai.app.presentation.ui.design.WidgetDesignActivity"
            android:exported="false"
            />

        <!-- If you want to disable android.startup completely. -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove">
        </provider>


        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/google_ads_app_id" />
    </application>

</manifest>